.cart {
  margin: 16px 128px;
}

.cartHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartContainer {
  margin: 48px;
}

.notLoggedIn {
  text-align: center;
  width: 500px;
  margin: 200px auto;
}

.notLoggedIn img {
  margin-top: 36px;
}

.notLoggedIn a {
  color: black;
  font-weight: bold;
}

.logoutIcon {
  height: 50px;
}
