.cart {
  margin: 16px 64px 75px;
  min-height: 500px;
}

.cartHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartContainer {
  position: relative;
}

.notLoggedIn {
  text-align: center;
  width: 500px;
  margin: 200px auto;
}

.notLoggedIn img {
  margin-top: 36px;
}

.notLoggedIn a {
  color: black;
  font-weight: bold;
}

.logoutIcon {
  height: 50px;
}

.checkoutButton {
  width: 125px;
  display: block;
  position: absolute;
  right: 0;
  margin: 2px;
  padding: 10px 16px;
  border: 1px solid #0a3637;
  border-radius: 10px;
  color: white;
  outline: none;
  background-color: #0a3637;
  cursor: pointer;
  font-weight: bold;
}

.checkoutButton:active {
  color: #8ab83e;
}

@media (max-width: 1055px) {
  .cart {
    margin: 16px 42px;
  }
}

@media (max-width: 620px) {
  .cart {
    margin: 16px;
  }
}

.cartTotal {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #0a3637;
}

.cartTotal h4 {
  margin: 0;
}

#updateCountTH {
  width: 100px;
}

#cart th h4 {
  margin: 0 !important;
}

/*Form container*/

.formContainer form {
  margin: 0 !important;
  width: 100%;
}

.formContainer label {
  text-align: left;
}

.formContainer input {
  margin-top: 2px;
  width: 100%;
  text-align: left;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form {
  width: 40%;
}

.orderSummary {
  width: 45%;
}

.orderSummary div {
  width: 100%;
}

.orderSummaryTable {
  border-collapse: collapse;
  width: 100%;
}

.orderSummaryTable th {
  text-align: left;
  padding: 16px !important;
}

.orderSummaryTable td {
  text-align: left;
  padding: 16px !important;
}

.checkoutButtonSummary {
  right: 0;
  margin: 2px;
  padding: 10px 16px;
  border: 1px solid #0a3637;
  border-radius: 10px;
  color: white;
  outline: none;
  background-color: #0a3637;
  cursor: pointer;
  font-weight: bold;
}

.checkoutButtonSummary:active {
  color: #8ab83e;
}

.modifyOrderButton {
  right: 0;
  margin: 2px;
  padding: 10px 16px;
  border: 1px solid #0a3637;
  border-radius: 10px;
  color: #0a3637;
  outline: none;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

select:focus {
  outline: none;
}

@media (max-width: 850px) {
  .formContainer {
    display: flex;
    flex-direction: column;
  }

  .formContainer div {
    width: 100%;
  }

  .orderSummary {
    margin-top: 50px;
  }
}

input {
  box-sizing: border-box;
}

.form textarea {
  font-family: inherit;
  border-radius: 7px;
  padding: 8px;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #eee;
  box-sizing: border-box;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  display: none;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #8ab83e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
