.profile {
  margin: 16px 128px;
}

.profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profileContainer {
  margin: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.others {
  display: flex;
  flex-direction: row;
}

.notLoggedIn {
  text-align: center;
  width: 500px;
  margin: 200px auto;
}

.notLoggedIn img {
  margin-top: 36px;
}

.notLoggedIn a {
  color: black;
  font-weight: bold;
}

.cartIcon {
  height: 85px;
}

.ordersIcon {
  height: 85px;
}
