.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 16px 48px;
}

.categoriesHeader a {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: 600;
}

.categoriesHeader h1 {
  color: #616161;
  margin: 16px 0;
}

.categoriesH h1 {
  color: #616161;
  margin: 16px 0;
}

.col-sm-2 a h4 {
  color: #616161;
}

.col-sm-2 a:hover {
  text-decoration: none !important;
}

.col-sm-2 a:hover h4 {
  color: #0c0c0c;
}

.col-md-2 a h4 {
  color: #616161;
}

.col-md-2 a:hover {
  text-decoration: none !important;
}

.col-md-2 a:hover h4 {
  color: #0c0c0c;
}

.categoriesContainer h3 {
  text-align: center;
}

.chevron {
  height: 16px;
  margin-left: 4px;
  margin-bottom: -3px;
}
